@layout("/common/_container.html"){
<div folder="ibox float-e-margins">
	<div folder="ibox-content">
		<div folder="form-horizontal" id="userInfoForm">

			<input type="hidden" id="id" value="">

			<div folder="row">

				<div folder="col-sm-6 b-r">
					<#input id="folderName" name="目录名称" underline="true"/>
					<#input id="folderType" name="类型" underline="true"/>

				</div>
				<div folder="col-sm-6">
					<#select id="classNo" name="班号" underline="true">
					<option value="1">班级1</option>
					<option value="2">班级2</option>
					<option value="3">班级3</option>
					<option value="4">班级4</option>
					<option value="5">班级5</option>
					<option value="6">班级6</option>
					</#select>
					<#input id="remark" name="备注" underline="true" />

				</div>
				<span style="display: none;" id="edit_id">${id}</span>
				<span style="display: none;" id="edit_folderName">${folderName}</span>
				<span style="display: none;" id="edit_folderType">${folderType}</span>
				<span style="display: none;" id="edit_classNo">${classNo}</span>
				<span style="display: none;" id="edit_remark">${remark}</span>
			</div>

			<div folder="row btn-group-m-t">
				<div folder="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="folder_edit.editSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="folder_edit.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/folder/folder_teacher_edit.js"></script>
@}
