@layout("/common/_container.html"){
<div folder="ibox float-e-margins">
	<div folder="ibox-content">
		<div folder="form-horizontal" id="userInfoForm">

			<input type="hidden" id="id" value="">

			<div folder="row">
				<div folder="col-sm-6 b-r">
					<#input id="folderName" name="目录名称" underline="true"/>
					<#input id="folderType" name="类型" underline="true"/>

				</div>
				<div folder="col-sm-6">
					<#input id="folderNo" name="班号" underline="true" />
					<#input id="remark" name="备注" underline="true" />

				</div>


			</div>

			<div folder="row btn-group-m-t">
				<div folder="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="folder_add.addSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="folder_add.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/folder/folder_teacher_add.js"></script>
@}
