@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>学生作业下载</h5>
			</div>
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<div class="row">
							<div class="hidden-xs" id="managerTableToolbar" role="group">
								<#button name="下载" icon="fa-plus" clickFun="homework.download(id)"/>
							</div>
							<#table id="homeworkTable"/>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<input type="hidden" value='${id}' id="id"/>
<script src="${ctxPath}/static/modular/homework/homework_download.js"></script>
@}
