@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>学生上传作业列表</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="hidden-xs" id="managerTableToolbar" role="group">
                                <#button name="上传" icon="fa-plus" clickFun="homework.upload(id)"/>
                                <!--<#button name="删除" icon="fa-remove" clickFun="homework.delete(id)" space="true"/>-->
                            </div>
                            <#table id="homeworkTable"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" value='${id}' id="id"/>
<script src="${ctxPath}/static/modular/homework/homework_upload_student_list.js"></script>
@}
