@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" >
42643665534
			<div class="row">
				<div class="col-sm-6 b-r">
					<#input id="account" name="账户" underline="true" disabled/>

					<#input id="sex" name="性别" underline="true" disabled/>

					<#input id="roleid" name="角色" underline="true" disabled="disabled" disabled/>

					<#input id="email" name="邮箱" type="email" disabled/>
				</div>
				<div class="col-sm-6">
					<div id="driverInfoContent">
						<#input id="name" name="姓名" underline="true" disabled/>

						<#input id="birthday" name="出生日期" underline="true" type="date"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" disabled/>

						<#input id="citySel" name="组织" underline="true" readonly="readonly" hidden="deptid"
								clickFun="UserInfoDlg.showDeptSelectTree(); return false;"
								style="background-color: #ffffff !important;" disabled/>

						<#input id="phone" name="电话" disabled/>
					</div>
				</div>
			</div>

			<!-- 这是组织选择的下拉框 -->
			<!--<div id="menuContent" class="menuContent"-->
				<!--style="display: none; position: absolute; z-index: 200;">-->
				<!--<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>-->
			<!--</div>-->

		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/message/message.js"></script>
@}
