@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="userInfoForm">

			<input type="hidden" id="id" value="">

			<div class="row">
				<div class="col-sm-6 b-r">
					<#select id="classNo" name="班号" underline="true">
						<option value="班级1">班级1</option>
						<option value="班级2">班级2</option>
						<option value="班级3">班级3</option>
						<option value="班级4">班级4</option>
						<option value="班级5">班级5</option>
						<option value="班级6">班级6</option>
					</#select>
					<#select id="classGrade" name="年级" underline="true">
						<option value="一年级">一年级</option>
						<option value="二年级">二年级</option>
						<option value="三年级">三年级</option>
						<option value="四年级">四年级</option>
						<option value="五年级">五年级</option>
						<option value="六年级">六年级</option>
					</#select>

				</div>
				<div class="col-sm-6">
					<#input id="classYear" name="入学日期" underline="true" type="date"
							clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
					<#input id="createTime" name="创建时间" underline="true" type="date"
							clickFun="laydate({istime: false, format: 'YYYY-MM-DD hh:mm:ss'})"/>

				</div>


			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="class_add.addSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="class_add.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/class/class_teacher_add.js"></script>
@}
