@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="form-horizontal" >
					<div class="row">
						<div class="col-sm-6 b-r">

							<#input id="classNo" name="班号" underline="true" disabled="disabled"/>

							<#input id="classGrade" name="年级" underline="true" disabled="disabled"/>
						</div>
						<div class="col-sm-6">
							<#input id="classYear" name="入学日期" underline="true" disabled="disabled"/>

							<#input id="createTime" name="创建时间" underline="true" disabled="disabled"/>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/class/class_student.js"></script>
@}
